@import url('https://fonts.googleapis.com/css?family=Libre Baskerville');

.container {
}
.header{
  z-index: 1;
  position: fixed;
  display: block;
  right: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  color:darkgrey;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(25, 9, 6, 1) 0%, rgba(210, 153, 86, 1) 50%, rgba(25, 9, 6, 1) 100%);
  box-shadow: -16px 3px 17px 0px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.carte-wrapper{
  position: relative;
  top:5vh;
  right: 0;
  left: 0;
  bottom: 5vh;
  width: 2000px;
  height: 1333px;
  max-height: 90vh;
  max-width: 100vw;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.carte::-webkit-scrollbar, .carte-wrapper::-webkit-scrollbar {
  display: none;
}
.carte {
  position: initial !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.footer{
  z-index: 1;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  overflow: hidden;  
  background: linear-gradient(90deg, rgba(25, 9, 6, 1) 0%, rgba(210, 153, 86, 1) 50%, rgba(25, 9, 6, 1) 100%);
  font-family: 'Libre Baskerville';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn {
  display: block;
  position: fixed;
  margin-left: 60vh;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: yellow;
}




