.container {
  
}
.header{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5vh;
  color:darkgrey;
  overflow: hidden;
  background-color: yellow;
}
.carte{
  border: black solid 1px;
  /* background-image: url("../img/carte.png"); */
    background-image: url("/carte.png");

  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  visibility:hidden;
  width: 2000px;
  height: 1333;
  max-height: 90vh;
  max-width: 100vw;
}
.footer{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  color:darkgrey;
  overflow: hidden;  
  background-color: yellow;
}