.carte{
    border: black solid 1px;
    background-image: url("../img/carte.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    visibility:hidden;
    min-width: 2000px;
    min-height: 1333;
    
  }

.item{

}
.item:nth-child(even){
  background: #30a57f;
}
.item:nth-child(odd){
  background:#c17a38;
}