.Monument-Zone {
  float: left;
  position: absolute;
  z-index: auto;
  width: 50px;
  padding: 5px;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
}

.Monument-Zone.index1 {
  left: 374px;
  top: 1011px;
}

.Monument-Zone.index2 {
  left: 614px;
  top: 465px;
}

.Monument-Zone.index3 {
  left: 631px;
  top: 978px;
}

.Monument-Zone.index4 {
  left: 937px;
  top: 367px;
}

.Monument-Zone.index5 {
  left: 970px;
  top: 430px;
}

.Monument-Zone.index6 {
  left: 1029px;
  top: 475px;
}

.Monument-Zone.index7 {
  left: 1131px;
  top: 562px;
}

.Monument-Zone.index8 {
  left: 1411px;
  top: 616px;
}

.Monument-Zone.index9 {
  left: 1555px;
  top: 640px;
}

.Monument-Zone.index10 {
  left: 1613px;
  top: 534px;
}