.Monument-Zone {
  float: left;
  position: relative;
  z-index: 1000;
  width: 50px;
  padding: 5px;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
}

.Monument-Zone.index1 {
  left: 374px;
  top: 1011px;
}

.Monument-Zone.index2 {
  left: 560px;
  top: 555px;
}

.Monument-Zone.index3 {
  left: 631px;
  top: 978px;
}

.Monument-Zone.index4 {
  left: 815px;
  top: 492px;
}

.Monument-Zone.index5 {
  left: 786px;
  top: 549px;
}

.Monument-Zone.index6 {
  left: 798px;
  top: 606px;
}

.Monument-Zone.index7 {
  left: 852px;
  top: 672px;
}

.Monument-Zone.index8 {
  left: 1095px;
  top: 718px;
}

.Monument-Zone.index9 {
  left: 1161px;
  top: 754px;
}

.Monument-Zone.index10 {
  left: 1164px;
  top: 581px;
}