.main_div {
    display: flex;
    height: 10rem;
    width: 15rem;
    position: absolute;
    z-index: "4";
    width: 600px;
    height: 600px;
}
.monument_image {
  box-sizing: border-box;
}
.description {
  
}